<ul class="footer-links">
  <li>
    <a routerLink="/article">
      <span class="fa fa-code"></span>
    </a>
  </li>
  <li>
    <a href="https://github.com/Lurance">
      <span class="fa fa-github"></span>
    </a>
  </li>
  <li>
    <a>
      <span class="fa fa-twitter"></span>
    </a>
  </li>
  <li>
    <a href="https://weibo.com/u/3263327897">
      <span class="fa fa-weibo"></span>
    </a>
  </li>
  <li>
    <a>
      <span class="fa fa-youtube-play"></span>
    </a>
  </li>
  <li>
    <a>
      <span class="fa fa-instagram"></span>
    </a>
  </li>
  <li>
    <a>
      <span class="fa fa-google-plus"></span>
    </a>
  </li>
  <li>
    <a>
      <span class="fa fa-rss"></span>
    </a>
  </li>
</ul>


