<body>


<div id="container" class="container">
  <article class="article article-type-post">
    <app-nav-bar></app-nav-bar>

    <hr/>
    <div class="article-inner">


      <header class="article-header">


        <h1 class="article-title">
          RESUME
        </h1>


      </header>

      <div class="article-entry typo">

        <h2 id="个人信息">
          <a href="#个人信息" class="headerlink" title="个人信息"></a>
          <strong>个人信息</strong>
        </h2>
        <table>
          <thead>
          <tr>
            <th>姓名：</th>
            <th>贺诗亮</th>
            <th>籍贯：</th>
            <th>湖北武汉</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>学历：</td>
            <td>本科在读</td>
            <td>专业：</td>
            <td>软件工程</td>
          </tr>
          <tr>
            <td>年级：</td>
            <td>2019届毕业</td>
            <td>学校：</td>
            <td>武汉学院</td>
          </tr>
          <tr>
            <td>微信：</td>
            <td>hslroom</td>
            <td>邮箱：</td>
            <td>
              <a href="mailto:353650263@qq.com;" target="_blank"
                 rel="noopener">353650263@qq.com</a>
            </td>
          </tr>
          <tr>
            <td>博客：</td>
            <td>
              <a href="https://liangniang.xyz" target="_blank" rel="noopener">Niangliang</a>
            </td>
            <td>知乎：</td>
            <td>
              <a href="https://www.zhihu.com/people/lurancee/activities" target="_blank" rel="noopener">贺诗亮</a>
            </td>
          </tr>
          <tr>
            <td>github：</td>
            <td>
              <a href="https://github.com/Lurance" target="_blank" rel="noopener">Lurance</a>
            </td>
            <td>掘金：</td>
            <td>
              <a href="https://juejin.im/user/59f1d37e51882578ca2dd9dc/activities" target="_blank" rel="noopener">Lurance</a>
            </td>
          </tr>
          </tbody>
        </table>
        <hr>
        <h2 id="求职意向">
          <a href="#求职意向" class="headerlink" title="求职意向"></a>
          <strong>求职意向</strong>
        </h2>
        <ul>
          <li>WEB前后端开发</li>
          <li>微信小程序开发</li>
          <li>Python</li>
          <li>Golang</li>
        </ul>
        <hr>
        <h2 id="经历">
          <a href="#经历" class="headerlink" title="经历"></a>
          <strong>经历</strong>
        </h2>
        <ul>
          <li>2018年03月至今：在信息中心我主要参与了学校智慧校园的开发与维护，为全校师生的线上生活(校车预约，一卡通充值支付等)提 供维护与拓展，为小程序提供后端支持。此外由于略微研究过安全方面的知识，所以学校的相关网站如教务网，学工管理网的安全性也由我负责，具体为发掘诸如SQL注入，恶意文件上出，命令执行，未授权访问等相关安全问题 并提供修补建议以及防范措施。同时每周为学校学生技术团队上一次全站相关课程</li>
          <li>2018年03月：受邀参与腾讯2017智慧校园年度分享会议。</li>
          <li>2016年10月-2018年2月：创立了武汉众焰科技有限公司，期间参与了多个外包项目的前后端开发与运维，管理了8人的技术团队。</li>
          <li>2015年10月：院系主任以及相关校领导带领参观了腾讯，体验了腾讯的部分产品。</li>
        </ul>
        <hr>
        <h2 id="获奖">
          <a href="#获奖" class="headerlink" title="获奖"></a>
          <strong>获奖</strong>
        </h2>
        <ul>
          <li>2017年12月获得腾讯全国智慧校园开发大赛三等奖并于2018年3月收腰参观腾讯以及分享会</li>
          <li>2017年06月获得湖北省创新创业大赛二等奖</li>
          <li>2017年05月获全国蓝桥杯大赛省级二等奖</li>
        </ul>
        <hr>
        <h2 id="项目">
          <a href="#项目" class="headerlink" title="项目"></a>
          <strong>项目</strong>
        </h2>
        <ul>
          <li>微信小程序：
            <a href="https://github.com/Lurance/Mikey" target="_blank"
               rel="noopener">轻社交日程管理Peggy</a>
            <ul>
              <li>一款实时好友PK分享的日程管理应用，平台为微信小程序</li>
              <li>技术栈：Koa（Nodejs + TypeScript） + MongoDb，后台管理：Vue.js</li>
            </ul>
          </li>
          <li>微信小程序：
            <a
              href="https://github.com/Lurance/group-buy-shop"
              target="_blank" rel="noopener">社优拼</a>
            <ul>
              <li>一款团拼商城类应用，达到一定购买数量即可发货。我负责后端开发，整合了微信相关API包括支付等等</li>
              <li>技术栈：Koa（Nodejs + TypeScript） + MongoDb，后台管理：后台管理：Angular 后重构为Vue.js</li>
            </ul>
          </li>
          <li>在线车辆预约项目
            <ul>
              <li>本项目为众焰科技与本校第三方新能源汽车公司合作项目</li>
              <li>在本项目中我采用了Python流行的WEB框架Django，使用的数据库是MySQL。同时前端采用了Angular来搭建一个SPA。本项目为前后端分离项目。在后端采用了Django REST Framework 来实现部分接口以及通过jwt来实现鉴权。</li>
              <li>技术栈：Django（Python）+ MySQL + Angular（前端）</li>
            </ul>
          </li>
          <li>智慧食堂预约点餐项目
            <ul>
              <li>本项目目前已在武汉学院投入使用，目前已经有4000+的用户量。项目的特色是实现了QQ的OAut h2第三方登录， 以及QQ方的部分接口包括消息推送等等。</li>
              <li>2018年初与第三方公司合作转移至微信平台</li>
              <li>技术栈：Django（Python）+ MySQL</li>
            </ul>
          </li>
        </ul>
        <hr>
        <h2 id="技能">
          <a href="#技能" class="headerlink" title="技能"></a>
          <strong>技能</strong>
        </h2>
        <ul>
          <li>熟悉：JavaScript、CSS、HTML、TypeScript、Python、Linux、Nodejs、Angular、Vue、Koa、微信小程序</li>
          <li>熟练：MySQL、MongoDB、工程化前端</li>
          <li>了解：混合开发移动APP、Golang、Redis</li>
        </ul>
        <hr>

      </div>
    </div>



  </article>


</div>

<footer id="footer" class="post-footer footer">

  <app-footer></app-footer>

  <hr/>
</footer>


</body>
